/* HeroDetailComponent's private CSS styles */
label {
  width: 10%;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  border-radius: 4px;
  color:  #607D8B;
}

button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

ul.status {
  margin-top: 0;
  margin-bottom: 0;
}

ul li  {
  list-style: none;
}

 td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

span {
  font-weight: 600;
  color: #607D8B;
}

.radio {
     list-style-type:none;
    /* margin:25px 0 0 0;*/
     padding:0;
}

.radio li {
   
    width:100px;
    height:40px;
}

.radio input[type="radio"] {
    opacity:0.01;
    z-index:100;
}

.radio input[type="radio"]:checked + label,
.Checked + label {
    background:#eee;
}

.radio label {
     padding:5px;
     border:1px solid #CCC; 
     cursor:pointer;
    z-index:90;
    border-radius: 4px;
}

.radio label:hover {
     background:#DDD;
}
td, th {
  border-radius: 4px;
}

select {
  border-radius: 4px;
  font-size: 1em;
  color:#607D8B;
  
}

h2 {
  color: #607D8B;
}

h3 {
  color: #607D8B;
  font-weight: 600;
}